# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List of commonly used libraries used by Data Scientists
- Tools for Data Science
- Some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools|
:--------------------:
|Jupyter Notebooks|
|Git|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

In [36]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [38]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Dipak Yuvaraj Lad